  
:root{
  --primary-color:#191716;
  --secondary-color:#f7f4ef;  
  --tertiary-color:#E6AF2E;

}

html{
  overflow-y: scroll;
}

body{
  font: 1.125em/1.5 Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
}

header{
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 160px;
}

header .nav-link, a, a:hover, a:visited{
  color: var(--secondary-color);
}

main{
  background-color: var(--tertiary-color);
  color: #ffffff!important;
}

#about-me img{
  max-width: 240px;
}

.card{
  background-color: transparent;
}

.card-img-top{
  height: 300px;
  object-fit: cover;
  object-position: top center;
}

.nav-link{
  cursor: pointer;
  border-radius: 8px;
  padding: .25em .5em;
}

.nav-link.active{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}